*
{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.form
{
    width:80%;
    min-width: 200px;
    margin:auto auto;
}

img
{
    width:80%;
    display:block;
    margin:20px auto 0px auto;
}


#container
{
    width:50%;
    min-width:300px;
    margin:0px auto;
    padding:5px;
    background-color: beige;
    min-height:100vh;
}
body
{
    background-color: brown;
}
.form div
{
    margin:10px 
}
input
{
    font-size: 25px;
    width:100px;
    color:brown;
    font-weight: 700;
}

table tr
{
    padding:2px;
}
table th, table td
{
    padding:5px 0px;
    border-bottom: 1px solid ;
    width:85px;
    text-align:center
}
table
{
    margin: auto auto;
    border:2px solid brown;
    min-width:280px;
    
}
#insight
{
    background-color: rgb(209, 194, 194);
    color:black;
    margin-bottom: 30px;
}


#data
{
    background-color: rgb(204, 191, 191);
}
button
{
    margin: auto auto;
    display:block;
    padding:10px;
    border:none;
    background-color: brown;
    color:white;
    border-radius: 15px;
    margin-bottom: 30px;
   
}

#s:active
{
    background-color: black;
}

hr
{
    background-color: grey;
    margin:10px;
  
}
span
{
    color:brown;
    font-size:35px
}

h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.dev
{
    font-style: italic;
    font-size:10px;
    padding-bottom:20px;
    font-weight: 800;
    margin-top:-7px;
    text-align:center;

}


.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#totalProfit,#treturn,#tProfit,#avgProfit
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#navHeading ul
{
    display: flex;
    width:100%;
    justify-content: space-around;
    background-color: black;
    margin:0px auto;
    padding:5px;
    border-radius: 15px;
    border:3px solid brown
}
#navHeading ul button
{
    padding:5px;
    margin:0px;
    background-color:black;
    color:white;
    border: none;
}


#navHeading button:hover
{
    background-color: brown;
}


#first,#second
{
    min-width:280px;
    min-height: 200px;
}